@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

* {
    font-family: "League Spartan", sans-serif;
}

body {
    background-color: #e7e7e7;
}

.container {
    max-width: 1600px;
}

.py-7 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}


body::-webkit-scrollbar {
    display: none;
}

.bg-slider1 {
    background: rgb(101, 101, 101);
    background: -moz-linear-gradient(90deg, rgba(101, 101, 101, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(101, 101, 101, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(101, 101, 101, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#656565", endColorstr="#ffffff", GradientType=1);
}

.icons {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

/* sliders style */

.img-sliders {
    height: 300px;
    width: 300px;
    rotate: -20deg;
}

.box-img { 
    rotate: 20deg;
    background-color:#B0B0B0;
    width: max-content;
    height: max-content;
    box-shadow: 1px 0px 20px 20px #B0B0B0;
}


/* slider style done */


/* news style */

.news-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    padding: 11px 0px;
    line-height: 1;
    margin-top: 10px;
    display: inline-block;
    min-width: 146px;
    text-align: center;
}

.icons-timer  {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.box-img-news{
    width: 362px;
    height: 362px;
}

.mt-10 {
    margin-top: 4rem;
}

.m-view{
}

.box-news{
    margin: 7px;
    background-color: #fff;
}

.box-scrols {
    max-width: 1480px;
    padding: 0px;
    overflow-x: scroll; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
    width: 1500px; 
    cursor: pointer;
}

.box-scrols::-webkit-scrollbar {
    display: none;
}


/* news style done */

/* running style */

.text-running {
    margin-top: 100px;
    display: grid;
    justify-content: center;

}

.btn-running{
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #007bff;
}

.btn-running:hover{
    background-color: #006ce0;
}

.text-btn {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.img-running{
    height: 637px;
    width: 1480px;
    object-fit: cover;
    object-position: 50% 50%;
}

